<h2>Książki</h2>
<ul class="books">
  <li *ngFor="let book of (books | sortBy)"
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)"
      [ngClass]="{voted: book.voted==true}">
    <span>ID: {{book.id}}</span> Tytuł: "{{book.title}}". Polubienia: {{book.likes}}
  </li>
</ul>
<app-book [book]="selectedBook"></app-book>
