

<header>
  <img class="logo-left" src="//material.angularjs.org/latest/img/icons/angular-logo.svg">

</header>
<img class="logo-center" src="//material.angularjs.org/latest/img/icons/angular-logo.svg">

<main>
  <div class="main-center">
<div class="div-center">
  <label for="firstName">Imię: </label>
  <input [(ngModel)]="contact.firstName" type="text" id="firstName"><br>
  <label for="lastName">Nazwisko: </label>
  <input [(ngModel)]="contact.lastName" type="text" id="lastName"><br>
  <label for="position">Stanowisko: </label>
  <input [(ngModel)]="contact.position" type="text" id="position"><br>
  <label for="email">Email: </label>
  <input [(ngModel)]="contact.email" type="text" id="email"><br>
  <label for="website">Strona internetowa: </label>
  <input [(ngModel)]="contact.website" type="text" id="website"><br>
  <label for="phoneNumber">Numer telefonu: </label>
  <input [(ngModel)]="contact.phoneNumber" type="text" id="phoneNumber"><br>
  <label for="company">Nazwa firmy</label>
  <input [(ngModel)]="contact.company" type="text" id="company"><br>
</div>
  <div class="div-center">
<app-table [contact]="contact"></app-table>
  </div>
</div>
</main>

