
.logo-center
{
  width:100px;
  height:100px;
  margin-top:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-left
{
  width:50px;
  height:50px;
}
input[type=text], select
{
  wodth:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display:inline-block;
  border:1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
}

