/* You can add global styles to this file, and also import other style files */
div.details
{
  display:inline-block;
  vertical-align: super;

}

div.bookList
{
  display:inline-block;
  vertical-align:super;
}
