<div *ngIf="book">
  <h2>Szczegóły dot. książki: "{{book.title}}" </h2>
  <div>
    <label for="title">Tytuł </label>
    <input [(ngModel)]="book.title" placeholder="Tytuł" id="title" class="form-control"><br>

    <label for="author">Autor </label>
    <input [(ngModel)]="book.author" placeholder="Autor" id="author" class="form-control"><br>


    <label for="publisher">Wydawca </label>
    <input [(ngModel)]="book.publisher" placeholder="Wydawca" id="publisher" class="form-control"><br>

    <label for="isbn">ISBN </label>
    <input [(ngModel)]="book.isbn" placeholder="ISBN" id="isbn" class="form-control"><br>

    <p>Ilość polubień: {{book.likes}}</p>
    <button (click)="add()">+</button>
    <button (click)="substract()">-</button>
  </div>
</div>
