<div class="bookslist form-group col-sm-4">
<h2>Książki</h2>
<ul class="books">
  <li *ngFor="let book of (books | sortBy)"
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)"
      [ngClass]="{voted: book.voted==true}">
    <span>ID: {{book.id}}</span> Tytuł: "{{book.title}}". Polubienia: {{book.likes}}
  </li>
</ul>
</div>

<div class="details col-sm-4"><app-book [book]="selectedBook"></app-book></div>


<div class="addBook col-sm-3">
  <h2>Dodaj książkę</h2>
  <form [formGroup]="myForm" (ngSubmit)="bookSend(myForm.value, myForm)">
  <div>
    <label for="titleAdd">Tytuł </label>
    <input type="text" placeholder="Tytuł" name="title" id="titleAdd" [formControl]="myForm.controls['title']" class="form-control">
    <div *ngIf="myForm.controls['title'].hasError('required') && myForm.controls['title'].touched" class="alert alert-danger">Tytuł nie może być pusty</div>
    <div *ngIf="myForm.controls['title'].hasError('lowerCase') && myForm.controls['title'].touched" class="alert alert-danger">Podaj tytuł wielką literą</div>

  </div>

  <div>
    <label for="authorAdd">Autor </label>
    <input type="text" placeholder="Autor" name="author" id="authorAdd" [formControl]="myForm.controls['author']" class="form-control">
    <div *ngIf="myForm.controls['author'].hasError('required') && myForm.controls['author'].touched" class="alert alert-danger">Autor nie może być pusty</div>
    <div *ngIf="myForm.controls['author'].hasError('lowerCase') && myForm.controls['author'].touched" class="alert alert-danger">Podaj autora wielką literą</div>

  </div>

  <div>
    <label for="isbnAdd">ISBN </label>
    <input type="text" placeholder="ISBN" name="isbn" id="isbnAdd" [formControl]="myForm.controls['isbn']" ngModel minLength="10" class="form-control">
    <div *ngIf="myForm.controls['isbn'].hasError('required') && myForm.controls['isbn'].touched" class="alert alert-danger">ISBN nie może być pusty</div>
    <div *ngIf="myForm.controls['isbn'].hasError('isbnValidate') && myForm.controls['isbn'].touched" class="alert alert-danger">Podaj prawidłowy ISBN</div>
    <div *ngIf="myForm.controls['isbn'].hasError('minlength') && myForm.controls['isbn'].touched" class="alert alert-danger">Minimalna długość: 10 znaków</div>
  </div>

  <div>
    <label for="publisherAdd">Wydawca </label>
    <select [formControl]="myForm.controls['publisher']" id="publisherAdd" class="form-control">
      <option *ngFor="let p of publishers" [value]="p.name">{{p.name}}</option>
    </select>
    <div *ngIf="myForm.controls['publisher'].hasError('required') && myForm.controls['publisher'].touched" class="alert alert-danger">Wydawca nie może być pusty</div>
  </div>

  <button [disabled]="!myForm.valid" type="submit" >Ok</button>
</form>
</div>
