ul{
  list-style-type: square ;
}
li
{
  margin-top:5px;
}
li:hover
{
  color: blue;
}
.selected{
  color: blue;
  font-weight: bold;
}
.voted{
  color: #afafaf;
  font-style:italic;
}
.voted:hover
{
  color: #515151;
}
.voted.selected
{
  font-weight:bold;
}
.voted:after{
  content: "*Głos oddany*";
  font-weight: bold;
}
