.businessCard
{
  width:450px;
  height:275px;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.7;
  box-shadow: 0 50px 8px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19);
}
.cardHeader
{
  background-color: #f1f1f1;
  padding: 0.01em 16px;

}
.cardFooter
{
  color: #fff;
  background-color: #616161;
  padding: 0.01em 16px;

}
.circleAvatar
{
  float:left;
  margin-left:15px;
  margin-right: 16px;
  width:100px;
  height:100px;
  border-radius:150px;
  -webkit-border-radius:150px;
  -moz-border-radius:150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}

p {
  display: block;
}
.position
{
  margin-left:15px;
}
hr
{
  border:0;border-top:1px solid #eee;margin:20px 0
}
.company-name
{
  text-align: center;
}
