<div class="businessCard">

  <div class="cardHeader">
    <h3>{{contact.firstName}} {{contact.lastName}}</h3>
  </div>

  <div class="cardContainer">
    <h4 class="position">{{contact.position}}</h4>
    <hr>
    <img src="http://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" class="circleAvatar">
    <p>{{contact.email}}</p>
    <p>{{contact.website}}</p>
    <p>{{contact.phoneNumber}}</p>
  </div>

  <div class="cardFooter">
    <h3 class="company-name">{{contact.company}}</h3>
  </div>

</div>
