.div-center
{
  display:inline-block;
  margin-top:10px;
  margin-right:100px;
}

header
{
  background-color: #1976d2;
  width:100%;
}
.main-center
{
  display:table;
  margin:0 auto;
}
label
{
  text-align:right;
  display:inline-block;
  width:100px;
}
